# Covid Data Creation

This notebook will include the complete development of the the dataset for the various countries for which we have formed a contact matrix analysis (144 different countries)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn import preprocessing

In [3]:
data_df = pd.read_csv(r"C:\Users\varun\Desktop\Udacity\UGP_data_notebook2.csv")
data_df.drop(['Unnamed: 0'], axis = 1, inplace = True)
print(data_df.shape)
data_df.head()

(146, 9)

,Country,Population,Total_index,Home,Other,School,Work,Population_Density,Reproduction
0,Albania,2880913,3.838068e+07,1.068326e+07,1.430326e+07,5.625936e+06,7.768229e+06,105.00,0.95
1,Algeria,43053054,6.373596e+08,1.759553e+08,2.863821e+08,1.147987e+08,6.022355e+07,18.41,0.93
2,Antigua and Barbuda,97115,1.584368e+06,4.161274e+05,5.464844e+05,2.242885e+05,3.974679e+05,222.60,1.40
3,Argentina,44780675,6.731221e+08,2.020790e+08,2.373145e+08,9.613251e+07,1.375961e+08,16.52,0.94
4,Armenia,2957728,4.185080e+07,1.164423e+07,1.455815e+07,6.163886e+06,9.484537e+06,104.10,1.10

In [4]:
covid_df = pd.read_csv(r"C:\Users\varun\Desktop\Udacity\UGP\world_covid.csv")
covid_df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [5]:
countries = list(data_df['Country'])
countries

['Albania',
 'Algeria',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republi",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Maldives',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Lucia',
 'Sao Tome and Principe ',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'TFYR of Macedonia',
 'Thailand',
 'Timor-Leste',
 'Tonga',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic ',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [6]:
countries_sim = list(covid_df['Country'].unique())
countries_sim

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen',
 'Zambia',
 'Zimbabwe']

Inorder to automate we need to find those values that are not present in mainly the countries list that we have of the contact matrix

In [7]:
diff = []
for item in countries:
    if item not in countries_sim:
        diff.append(item)
diff

['Bolivia (Plurinational State of',
 'Brunei Darussalam',
 'Congo',
 'Czech Republic',
 'Iran (Islamic Republic of)',
 'Kiribati',
 "Lao People's Democratic Republi",
 'Republic of Korea',
 'Russian Federation',
 'Sao Tome and Principe ',
 'Syrian Arab Republic',
 'TFYR of Macedonia',
 'Tonga',
 'United Kingdom of Great Britain',
 'United States of America',
 'Venezuela (Bolivarian Republic ',
 'Viet Nam']

Lets try to see if the above difference is due to inavailability of data or title mismatch

• Viet Nam - Vietnam
• Venezuela (Bolivarian Republic - Venezuela
• United Kingdom of Great Britain - United Kingdom
• Syrian Arab Republic - Syria
• Sao Tome and Principe  - remove the space at the end
• Russian Federeation - Russia
• Republic of Korea - Korea, South
• Lao People's Democratic Republi - Laos
• Iran (Islamic Republic of) - Iran
• Czech Republic - Czechia
• Congo - Congo (Brazzaville)
• Bolivia (Plurinational State of - Bolivia

In [8]:
temp = data_df[data_df['Country']=='Viet Nam'].index.values[0]
data_df.at[temp,'Country'] = 'Vietnam'
temp = data_df[data_df['Country']=='Venezuela (Bolivarian Republic '].index.values[0]
data_df.at[temp,'Country'] = 'Venezuela'
temp = data_df[data_df['Country']=='United Kingdom of Great Britain'].index.values[0]
data_df.at[temp,'Country'] = 'United Kingdom'
temp = data_df[data_df['Country']=='Syrian Arab Republic'].index.values[0]
data_df.at[temp,'Country'] = 'Syria'
temp = data_df[data_df['Country']=='Sao Tome and Principe '].index.values[0]
data_df.at[temp,'Country'] = 'Sao Tome and Principe'
temp = data_df[data_df['Country']=='Russian Federation'].index.values[0]
data_df.at[temp,'Country'] = 'Russia'
temp = data_df[data_df['Country']=='Republic of Korea'].index.values[0]
data_df.at[temp,'Country'] = 'Korea, South'
temp = data_df[data_df['Country']=="Lao People's Democratic Republi"].index.values[0]
data_df.at[temp,'Country'] = 'Laos'
temp = data_df[data_df['Country']=='Iran (Islamic Republic of)'].index.values[0]
data_df.at[temp,'Country'] = 'Iran'
temp = data_df[data_df['Country']=='Czech Republic'].index.values[0]
data_df.at[temp,'Country'] = 'Czechia'
temp = data_df[data_df['Country']=='Congo'].index.values[0]
data_df.at[temp,'Country'] = 'Congo (Brazzaville)'
temp = data_df[data_df['Country']=='Bolivia (Plurinational State of'].index.values[0]
data_df.at[temp,'Country'] = 'Bolivia'

In [9]:
countries = list(data_df['Country'])

In [10]:
diff = []
for item in countries:
    if item not in countries_sim:
        diff.append(item)
diff

['Brunei Darussalam',
 'Kiribati',
 'TFYR of Macedonia',
 'Tonga',
 'United States of America']

Let's create a list for which we require the dataset

In [11]:
final_count = []
for item in countries:
    if item in countries_sim:
        final_count.append(item)
final_count

['Albania',
 'Algeria',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo (Brazzaville)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Maldives',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Korea, South',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

## Creating different Datasets

In [12]:
covid_df[covid_df['Country'] == 'Yemen'].reset_index()

     index        Date Country  Confirmed  Recovered  Deaths
0    80892  2020-01-22   Yemen          0          0       0
1    80893  2020-01-23   Yemen          0          0       0
2    80894  2020-01-24   Yemen          0          0       0
3    80895  2020-01-25   Yemen          0          0       0
4    80896  2020-01-26   Yemen          0          0       0
..     ...         ...     ...        ...        ...     ...
423  81315  2021-03-20   Yemen       3278       1530     737
424  81316  2021-03-21   Yemen       3418       1534     751
425  81317  2021-03-22   Yemen       3516       1546     771
426  81318  2021-03-23   Yemen       3612       1566     785
427  81319  2021-03-24   Yemen       3703       1577     800

[428 rows x 6 columns]

In [13]:
temp = data_df[data_df['Country']=='Albania'].index.values[0]
data_df.at[temp,'Population']

2880913

In [19]:
for item in final_count:
    df = covid_df[covid_df['Country'] == item].reset_index()
    df = df[df['Confirmed'] > 0].reset_index()
    df = df.drop(columns=['index'])
    df = df.drop(columns=['level_0'])
    temp = data_df[data_df['Country']==item].index.values[0]
    val = data_df.at[temp,'Population']
    df = df.drop(columns=['Country','Date'])
    df['Population'] = val
    s = "C:\\Users\\varun\\Desktop\\Udacity\\UGP\\Covid\\" + item + ".csv"
    df.to_csv(s, index=False, header = False)

# Mobility Time Series

Since we are concerned about the country India in particular it would make much sense if we try to build the mobility time series for different regions in india. <br/>
• Acquire the population for the various regions in india as mentioned in the google mobility dataset <br/>
• Predict the contact rates based upon the model which we predicted <br/>
• Construct the time series

In [12]:
data_df = pd.read_csv(r"C:\Users\varun\Desktop\Udacity\UGP\Mobility\India.csv")
data_df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,recreation,grocery,parks,stations,workplace,home
0,IN,India,NaN,NaN,NaN,NaN,NaN,ChIJkbeSa_BfYzARphNChaFPjNc,15-02-2020,1.0,2.0,3.0,3.0,5.0,0.0
1,IN,India,NaN,NaN,NaN,NaN,NaN,ChIJkbeSa_BfYzARphNChaFPjNc,16-02-2020,2.0,2.0,3.0,2.0,0.0,0.0
2,IN,India,NaN,NaN,NaN,NaN,NaN,ChIJkbeSa_BfYzARphNChaFPjNc,17-02-2020,-1.0,1.0,3.0,1.0,4.0,0.0
3,IN,India,NaN,NaN,NaN,NaN,NaN,ChIJkbeSa_BfYzARphNChaFPjNc,18-02-2020,0.0,2.0,4.0,2.0,3.0,0.0
4,IN,India,NaN,NaN,NaN,NaN,NaN,ChIJkbeSa_BfYzARphNChaFPjNc,19-02-2020,0.0,2.0,1.0,1.0,4.0,1.0

In [24]:
data_df['sub_region_2'] = data_df['sub_region_2'].str.lower()

In [25]:
l1 = list(data_df['sub_region_2'].unique())
l1

[nan,
 'north and middle andaman',
 'south andaman',
 'anantapuram',
 'chittoor',
 'east godavari',
 'guntur',
 'krishna',
 'kurnool',
 'prakasam',
 'sri potti sriramulu nellore district',
 'srikakulam',
 'vishakhapatnam',
 'vizianagaram',
 'west godavari',
 'ysr district',
 'east kameng',
 'east siang',
 'papum pare',
 'tawang',
 'west kameng',
 'baksa',
 'barpeta',
 'bongaigaon',
 'cachar',
 'chirang',
 'darrang',
 'dhemaji',
 'dhubri',
 'dibrugarh',
 'dima hasao',
 'goalpara',
 'golaghat',
 'hailakandi',
 'jorhat',
 'kamrup',
 'kamrup metropolitan',
 'karbi anglong',
 'karimganj',
 'kokrajhar',
 'lakhimpur',
 'morigaon',
 'nagaon',
 'nalbari',
 'sivasagar',
 'sonitpur',
 'tinsukia',
 'udalguri',
 'araria',
 'arwal',
 'aurangabad',
 'banka',
 'begusarai',
 'bhagalpur',
 'bhojpur',
 'buxar',
 'darbhanga',
 'gaya',
 'gopalganj',
 'jamui',
 'jehanabad',
 'kaimur',
 'katihar',
 'khagaria',
 'kishanganj',
 'lakhisarai',
 'madhepura',
 'madhubani',
 'munger',
 'muzaffarpur',
 'nalanda',
 'nawada',
 'pashchim champaran',
 'patna',
 'purnia',
 'purvi champaran',
 'rohtas',
 'saharsa',
 'samastipur',
 'saran',
 'sheikhpura',
 'sheohar',
 'siwan',
 'supaul',
 'vaishali',
 'balod',
 'baloda bazar',
 'balrampur',
 'bastar',
 'bemetara',
 'bijapur',
 'bilaspur',
 'dantewada',
 'dhamtari',
 'durg',
 'gariaband',
 'janjgir-champa',
 'jashpur',
 'kanker',
 'kawardha',
 'kondagaon',
 'korba',
 'koriya',
 'mahasamund',
 'mungeli',
 'narayanpur',
 'raigarh',
 'raipur',
 'rajnandgaon',
 'sukma',
 'surajpur',
 'surguja',
 'dadra and nagar haveli',
 'daman',
 'diu',
 'central delhi',
 'east delhi',
 'new delhi',
 'north delhi',
 'north east delhi',
 'north west delhi',
 'shahdara',
 'south delhi',
 'south east delhi',
 'south west delhi',
 'west delhi',
 'north goa',
 'south goa',
 'ahmedabad',
 'amreli',
 'anand',
 'aravalli',
 'banaskantha',
 'bharuch',
 'bhavnagar',
 'botad',
 'chhota udaipur',
 'dahod',
 'dang',
 'devbhoomi dwarka',
 'gandhinagar',
 'gir somnath',
 'jamnagar',
 'junagadh',
 'kheda',
 'kutch',
 'mahisagar',
 'mehsana',
 'morbi',
 'narmada',
 'navsari',
 'panchmahal',
 'patan',
 'porbandar',
 'rajkot',
 'sabarkatha',
 'surat',
 'surendranagar',
 'tapi',
 'vadodara',
 'valsad',
 'ambala',
 'bhiwani',
 'faridabad',
 'fatehabad',
 'gurgaon',
 'hisar',
 'jhajjar',
 'jind',
 'kaithal',
 'karnal',
 'kurukshetra',
 'mahendragarh',
 'mewat',
 'palwal',
 'panchkula',
 'panipat',
 'rewari',
 'rohtak',
 'sirsa',
 'sonepat',
 'yamuna nagar',
 'chamba',
 'hamirpur',
 'kangra',
 'kinnaur',
 'kullu',
 'mandi',
 'shimla',
 'sirmaur',
 'solan',
 'una',
 'bokaro',
 'chatra',
 'deoghar',
 'dhanbad',
 'dumka',
 'east singhbhum',
 'garhwa',
 'giridih',
 'godda',
 'gumla',
 'hazaribagh',
 'jamtara',
 'khunti',
 'koderma',
 'latehar',
 'lohardaga',
 'pakur',
 'palamu',
 'ramgarh',
 'ranchi',
 'sahibganj',
 'seraikela kharsawan',
 'simdega',
 'west singhbhum',
 'bagalkot',
 'bangalore rural',
 'bangalore urban',
 'belagavi',
 'bellary',
 'bidar',
 'chamarajanagar',
 'chikballapur',
 'chikkamagaluru',
 'chitradurga',
 'dakshina kannada',
 'davanagere',
 'dharwad',
 'gadag',
 'gulbarga',
 'hassan',
 'haveri',
 'kodagu',
 'kolar',
 'koppal',
 'mandya',
 'mysuru',
 'raichur',
 'ramanagara',
 'shimoga',
 'tumkur',
 'udupi',
 'uttara kannada',
 'yadgir',
 'alappuzha',
 'ernakulam',
 'idukki',
 'kannur',
 'kasaragod',
 'kollam',
 'kottayam',
 'kozhikode',
 'mahe',
 'malappuram',
 'palakkad',
 'pathanamthitta',
 'thiruvananthapuram',
 'thrissur',
 'wayanad',
 'lakshadweep',
 'agar',
 'alirajpur',
 'anuppur',
 'ashoknagar',
 'balaghat',
 'barwani',
 'betul',
 'bhind',
 'bhopal',
 'burhanpur',
 'chhatarpur',
 'chhindwara',
 'damoh',
 'datia',
 'dewas',
 'dhar',
 'dindori',
 'guna',
 'gwalior',
 'harda',
 'hoshangabad',
 'indore',
 'jabalpur',
 'jhabua',
 'katni',
 'khandwa',
 'khargone',
 'mandla',
 'mandsaur',
 'morena',
 'narsinghpur',
 'neemuch',
 'panna',
 'raisen',
 'rajgarh',
 'ratlam',
 'rewa',
 'sagar',
 'satna',
 'sehore',
 'seoni',
 'shahdol',
 'shajapur',
 'sheopur',
 'shivpuri',
 'sidhi',
 'singrauli',
 'tikamgarh',
 'ujjain',
 'umaria',
 'vidisha',
 'ahmednagar',
 'akola',
 'amravati',
 'beed',
 'bhandara',
 'buldhana',
 'chandrapur',
 'dhule',
 'gadchiroli',
 'gondia',
 'hingoli',
 'jalgaon',
 'jalna',
 'kolhapur',
 'latur',
 'mumbai',
 'mumbai suburban',
 'nagpur',
 'nanded',
 'nandurbar',
 'nashik',
 'osmanabad',
 'palghar',
 'parbhani',
 'pune',
 'raigad',
 'ratnagiri',
 'sangli',
 'satara',
 'sindhudurg',
 'solapur',
 'thane',
 'wardha',
 'washim',
 'yavatmal',
 'bishnupur',
 'chandel',
 'churachandpur',
 'imphal east',
 'imphal west',
 'senapati',
 'tamenglong',
 'thoubal',
 'ukhrul',
 'east garo hills',
 'east jaintia hills',
 'east khasi hills',
 'north garo hills',
 'ri-bhoi',
 'south garo hills',
 'west garo hills',
 'west jaintia hills',
 'west khasi hills',
 'aizawl',
 'champhai',
 'kolasib',
 'lawngtlai',
 'lunglei',
 'mamit',
 'saiha',
 'serchhip',
 'dimapur',
 'kohima',
 'mokokchung',
 'mon',
 'peren',
 'phek',
 'tuensang',
 'wokha',
 'zunheboto',
 'angul',
 'balangir',
 'balasore',
 'bargarh',
 'bhadrak',
 'boudh',
 'cuttack',
 'deogarh',
 'dhenkanal',
 'gajapati',
 'ganjam',
 'jagatsinghpur',
 'jajpur',
 'jharsuguda',
 'kalahandi',
 'kandhamal',
 'kendrapara',
 'kendujhar',
 'khordha',
 'koraput',
 'malkangiri',
 'mayurbhanj',
 'nabarangpur',
 'nayagarh',
 'nuapada',
 'puri',
 'rayagada',
 'sambalpur',
 'subarnapur',
 'sundargarh',
 'karaikal',
 'pondicherry',
 'amritsar',
 'barnala',
 'bathinda',
 'faridkot',
 'fatehgarh sahib',
 'fazilka',
 'ferozepur',
 'gurdaspur',
 'hoshiarpur',
 'jalandhar',
 'kapurthala',
 'ludhiana',
 'mansa',
 'moga',
 'pathankot',
 'patiala',
 'rupnagar',
 'sahibzada ajit singh nagar',
 'sangrur',
 'shaheed bhagat singh nagar',
 'sri muktsar sahib',
 'tarn taran',
 'ajmer',
 'alwar',
 'banswara',
 'baran',
 'barmer',
 'bharatpur',
 'bhilwara',
 'bikaner',
 'bundi',
 'chittaurgarh',
 'churu',
 'dausa',
 'dhaulpur',
 'dungarpur',
 'hanumangarh',
 'jaipur',
 'jaisalmer',
 'jalore',
 'jhalawar',
 'jhunjhunu',
 'jodhpur',
 'karauli',
 'kota',
 'nagaur',
 'pali',
 'pratapgarh',
 'rajsamand',
 'sawai madhopur',
 'sikar',
 'sirohi',
 'sri ganganagar',
 'tonk',
 'udaipur',
 'east sikkim',
 'north sikkim',
 'south sikkim',
 'west sikkim',
 'ariyalur',
 'chennai',
 'coimbatore',
 'cuddalore',
 'dharmapuri',
 'dindigul',
 'erode',
 'kanchipuram',
 'kanyakumari',
 'karur',
 'krishnagiri',
 'madurai',
 'nagapattinam',
 'namakkal',
 'nilgiris',
 'perambalur',
 'pudukkottai',
 'ramanathapuram',
 'salem',
 'sivaganga',
 'thanjavur',
 'theni',
 'thiruvarur',
 'thoothukudi',
 'tiruchirappalli',
 'tirunelveli',
 'tiruppur',
 'tiruvallur',
 'tiruvannamalai',
 'vellore',
 'villupuram',
 'virudhunagar',
 'adilabad',
 'hyderabad',
 'karimnagar',
 'khammam',
 'mahabubnagar',
 'medak',
 'nalgonda',
 'nizamabad',
 'ranga reddy',
 'warangal',
 'dhalai',
 'gomati',
 'khowai',
 'north tripura',
 'sipahijala',
 'south tripura',
 'unakoti',
 'west tripura',
 'agra',
 'aligarh',
 'ambedkar nagar',
 'amethi',
 'amroha',
 'auraiya',
 'azamgarh',
 'badaun',
 'bagpat',
 'bahraich',
 'ballia',
 'banda',
 'barabanki',
 'bareilly',
 'basti',
 'bijnor',
 'bulandshahar',
 'chandauli',
 'chitrakoot',
 'deoria',
 'etah',
 'etawah',
 'faizabad',
 'farrukhabad',
 'fatehpur',
 'firozabad',
 'gautam buddh nagar',
 'ghaziabad',
 'ghazipur',
 'gonda',
 'gorakhpur',
 'hapur',
 'hardoi',
 'hathras',
 'jalaun',
 'jaunpur',
 'jhansi',
 'kannauj',
 'kanpur dehat',
 'kanpur nagar',
 'kanshi ram nagar',
 'kaushambi',
 'kushinagar',
 'lakhimpur kheri',
 'lalitpur',
 'lucknow',
 'maharajganj',
 'mahoba',
 'mainpuri',
 'mathura',
 'mau',
 'meerut',
 'mirzapur',
 'moradabad',
 'muzaffarnagar',
 'pilibhit',
 'prayagraj',
 'rae bareli',
 'rampur',
 'saharanpur',
 'sambhal',
 'sant kabir nagar',
 'sant ravidas nagar',
 'shahjahanpur',
 'shamli',
 'shrawasti',
 'siddharthnagar',
 'sitapur',
 'sonbhadra',
 'sultanpur',
 'unnao',
 'varanasi',
 'almora',
 'bageshwar',
 'chamoli',
 'champawat',
 'dehradun',
 'haridwar',
 'nainital',
 'pauri garhwal',
 'pithoragarh',
 'rudraprayag',
 'tehri garhwal',
 'udham singh nagar',
 'uttarkashi',
 'alipurduar',
 'bankura',
 'bardhaman',
 'birbhum',
 'cooch behar',
 'dakshin dinajpur',
 'darjeeling',
 'hooghly',
 'howrah',
 'jalpaiguri',
 'kolkata',
 'malda',
 'murshidabad',
 'nadia',
 'north 24 parganas',
 'purba medinipur',
 'purulia',
 'south 24 parganas',
 'uttar dinajpur',
 'west medinipur']

In [18]:
len(l1)

628

In [20]:
pop_df = pd.read_csv(r"C:\Users\varun\Desktop\Udacity\UGP\Mobility\pop_data.csv")
pop_df.head()

   Population       name
0    12691836     Mumbai
1    10927986      Delhi
2     5104047  Bengaluru
3     4631392    Kolkata
4     4328063    Chennai

In [26]:
pop_df['name'] = pop_df['name'].str.lower()

In [27]:
l2 = list(pop_df['name'].unique())
l2

['mumbai',
 'delhi',
 'bengaluru',
 'kolkata',
 'chennai',
 'ahmedabad',
 'hyderabad',
 'pune',
 'surat',
 'kanpur',
 'jaipur',
 'navi mumbai',
 'lucknow',
 'nagpur',
 'indore',
 'patna',
 'bhopal',
 'ludhiana',
 'tirunelveli',
 'agra',
 'vadodara',
 'gorakhpur',
 'nashik',
 'pimpri',
 'kalyan',
 'thane',
 'meerut',
 'nowrangapur',
 'faridabad',
 'ghaziabad',
 'dombivli',
 'rajkot',
 'varanasi',
 'amritsar',
 'allahabad',
 'visakhapatnam',
 'teni',
 'jabalpur',
 'haora',
 'aurangabad',
 'shivaji nagar',
 'solapur',
 'srinagar',
 'chandigarh',
 'coimbatore',
 'jodhpur',
 'madurai',
 'guwahati',
 'gwalior',
 'vijayawada',
 'mysore',
 'ranchi',
 'hubli',
 'jalandhar',
 'thiruvananthapuram',
 'salem',
 'tiruchirappalli',
 'kota',
 'bhubaneshwar',
 'aligarh',
 'bareilly',
 'moradabad',
 'bhiwandi',
 'raipur',
 'bhilai',
 'jamshedpur',
 'borivli',
 'cochin',
 'amravati',
 'sangli',
 'cuttack',
 'bikaner',
 'warangal',
 'bhavnagar',
 'nanded',
 'raurkela',
 'guntur',
 'dehra dun',
 'bhayandar',
 'durgapur',
 'ajmer',
 'ulhasnagar',
 'kolhapur',
 'shiliguri',
 'bilimora',
 'karol bagh',
 'asansol',
 'jamnagar',
 'saharanpur',
 'gulbarga',
 'bhatpara',
 'jammu',
 'kurnool',
 'ujjain',
 'ramgundam',
 'shyamnagar',
 'nangi',
 'kozhikode',
 'malegaon',
 'davangere',
 'jalgaon',
 'akola',
 'belgaum',
 'gaya',
 'udaipur',
 'korba',
 'bokaro',
 'mangalore',
 'jhansi',
 'thoothukudi',
 'nellore',
 'tiruppur',
 'kollam',
 'panihati',
 'ahmadnagar',
 'dhulia',
 'bhagalpur',
 'punasa',
 'muzaffarnagar',
 'latur',
 'kukatpalli',
 'ambattur',
 'bellary',
 'muzaffarpur',
 'kamarhati',
 'mathura',
 'patiala',
 'chanda',
 'bhilwara',
 'trichur',
 'brahmapur',
 'shahjanpur',
 'shimoga',
 'new delhi',
 'rohtak',
 'tumkur',
 'firozabad',
 'nizamabad',
 'kulti',
 'rajahmundry',
 'barddhaman',
 'barasat',
 'bali',
 'hisar',
 'rampur',
 'noida',
 'greater noida',
 'kakinada',
 'panipat',
 'parbhani',
 'darbhanga',
 'alwar',
 'bilaspur',
 'ichalkaranji',
 'bijapur',
 'aizawl',
 'jalna',
 'lal bahadur nagar',
 'dewas',
 'baranagar',
 'gajuwaka',
 'satna',
 'etawah',
 'durg',
 'naihati',
 'tirupati',
 'sonipat',
 'avadi',
 'tiruvottiyur',
 'saugor',
 'mau',
 'bihar sharif',
 'hapur',
 'bathinda',
 'farrukhabad',
 'anantapur',
 'ratlam',
 'ramagundam',
 'ganganagar',
 'bharatpur',
 'karimnagar',
 'puducherry',
 'shrirampur',
 'raichur',
 'quthbullapur',
 'karnal',
 'arrah',
 'imphal',
 'gosaba',
 'mirzapur',
 'kharagpur',
 'dhanbad',
 'tanjore',
 'amarnath',
 'nagercoil',
 'pali',
 'yamunanagar',
 'rewa',
 'secunderabad',
 'bidar',
 'agartala',
 'monghyr',
 'burhanpur',
 'nadiad',
 'chapra',
 'dindigul',
 'panchkula',
 'sikar',
 'bulandshahr',
 'purnia',
 'hospet',
 'gurgaon',
 'sambhal',
 'gandhinagar',
 'murwara',
 'nangloi jat',
 'machilipatnam',
 'katihar',
 'bhiwani',
 'kultali',
 'raebareli',
 'haridwar',
 'singrauli',
 'junagadh',
 'sujangarh',
 'ellore',
 'bhusaval',
 'khandwa',
 'bahraigh',
 'sirsa',
 'chandannagar',
 'baharampur',
 'surendranagar',
 'vizianagaram',
 'proddatur',
 'vellore',
 'hugli',
 'alleppey',
 'amroha',
 'tambaram',
 'pathankot',
 'bhind',
 'shimla',
 'ongole',
 'gadag-betageri',
 'puri',
 'haldia',
 'khammam',
 'raiganj',
 'ingraj bazar',
 'jaunpur',
 'fatehpur',
 'gandhidham',
 'nandyal',
 'udupi',
 'loni',
 'sitapur',
 'shivpuri',
 'bhadravati',
 'adoni',
 'veraval',
 'sambalpur',
 'gadag',
 'unnao',
 'budaun',
 'jind',
 'madhyamgram',
 'jamuria',
 'jaigaon',
 'cuddalore',
 'orai',
 'hoshiarpur',
 'pallavaram',
 'hanumangarh',
 'kanchipuram',
 'alandur',
 'guna',
 'bahadurgarh',
 'bharuch',
 'medinipur',
 'fyzabad',
 'dinapore',
 'silchar',
 'banda',
 'morena',
 'tonk',
 'raj-nandgaon',
 'serilingampalle',
 'virar',
 'malkajgiri',
 'shantipur',
 'barakpur',
 'erode',
 'ambala',
 'krishnanagar',
 'saharsa',
 'batala',
 'bhimavaram',
 'balurghat',
 'kaithal',
 'lakhimpur',
 'hazaribagh',
 'vidisha',
 'haldwani',
 'habra',
 'kumbakonam',
 'porbandar',
 'chitradurga',
 'thanesar',
 'tiruvannamalai',
 'anand',
 'kanchrapara',
 'mahbubnagar',
 'dimapur',
 'robertsonpet',
 'chhindwara',
 'mandya',
 'bankura',
 'hajipur',
 'gonda city',
 'bhuj',
 'hindupur',
 'shillong',
 'palghat',
 'godhra',
 'kishangarh',
 'raniganj',
 'pilibhit',
 'beawar',
 'abohar',
 'moga',
 'dehri',
 'deoria',
 'hassan',
 'khardah',
 'yavatmal',
 'halisahar',
 'panvel',
 'titagarh',
 'cuddapah',
 'bettiah',
 'hathras',
 'lalitpur',
 'kolar',
 'mandsaur',
 'gondia',
 'rajapalaiyam',
 'darjiling',
 'mohali',
 'palanpur',
 'dam dam',
 'hardoi',
 'puruliya',
 'dibrugarh',
 'palwal',
 'nalgonda',
 'bhadreswar',
 'vejalpur',
 'chikmagalur',
 'raigarh',
 'guntakal junction',
 'gangapur',
 'deoli',
 'siwan',
 'damoh',
 'adilabad',
 'chicacole',
 'uppal kalan',
 'jetpur',
 'morbi',
 'patan',
 'khanna',
 'botad',
 'rishra',
 'azamgarh',
 'yelahanka',
 'gudivada',
 'baidyabati',
 'basti',
 'balasore',
 'dharmavaram',
 'maler kotla',
 'wardha',
 'jhunjhunun',
 'satara',
 'chanduasi',
 'mothihari',
 'chas',
 'pudukkottai',
 'rewari',
 'port blair',
 'suriapet',
 'bangaon',
 'chhatarpur',
 'ashoknagar kalyangarh',
 'achalpur',
 'navadwip',
 'barsi']

In [28]:
diff = []
for item in l2:
    if item not in l1:
        diff.append(item)
diff

['delhi',
 'bengaluru',
 'kanpur',
 'navi mumbai',
 'pimpri',
 'kalyan',
 'nowrangapur',
 'dombivli',
 'allahabad',
 'visakhapatnam',
 'teni',
 'haora',
 'shivaji nagar',
 'srinagar',
 'chandigarh',
 'guwahati',
 'vijayawada',
 'mysore',
 'hubli',
 'bhubaneshwar',
 'bhiwandi',
 'bhilai',
 'jamshedpur',
 'borivli',
 'cochin',
 'raurkela',
 'dehra dun',
 'bhayandar',
 'durgapur',
 'ulhasnagar',
 'shiliguri',
 'bilimora',
 'karol bagh',
 'asansol',
 'bhatpara',
 'jammu',
 'ramgundam',
 'shyamnagar',
 'nangi',
 'malegaon',
 'davangere',
 'belgaum',
 'mangalore',
 'nellore',
 'panihati',
 'ahmadnagar',
 'dhulia',
 'punasa',
 'kukatpalli',
 'ambattur',
 'kamarhati',
 'chanda',
 'trichur',
 'brahmapur',
 'shahjanpur',
 'kulti',
 'rajahmundry',
 'barddhaman',
 'barasat',
 'bali',
 'noida',
 'greater noida',
 'kakinada',
 'ichalkaranji',
 'lal bahadur nagar',
 'baranagar',
 'gajuwaka',
 'naihati',
 'tirupati',
 'sonipat',
 'avadi',
 'tiruvottiyur',
 'saugor',
 'bihar sharif',
 'anantapur',
 'ramagundam',
 'ganganagar',
 'puducherry',
 'shrirampur',
 'quthbullapur',
 'arrah',
 'imphal',
 'gosaba',
 'kharagpur',
 'tanjore',
 'amarnath',
 'nagercoil',
 'yamunanagar',
 'secunderabad',
 'agartala',
 'monghyr',
 'nadiad',
 'chapra',
 'bulandshahr',
 'hospet',
 'murwara',
 'nangloi jat',
 'machilipatnam',
 'kultali',
 'raebareli',
 'sujangarh',
 'ellore',
 'bhusaval',
 'bahraigh',
 'chandannagar',
 'baharampur',
 'proddatur',
 'hugli',
 'alleppey',
 'tambaram',
 'ongole',
 'gadag-betageri',
 'haldia',
 'raiganj',
 'ingraj bazar',
 'gandhidham',
 'nandyal',
 'loni',
 'bhadravati',
 'adoni',
 'veraval',
 'budaun',
 'madhyamgram',
 'jamuria',
 'jaigaon',
 'orai',
 'pallavaram',
 'alandur',
 'bahadurgarh',
 'medinipur',
 'fyzabad',
 'dinapore',
 'silchar',
 'raj-nandgaon',
 'serilingampalle',
 'virar',
 'malkajgiri',
 'shantipur',
 'barakpur',
 'krishnanagar',
 'batala',
 'bhimavaram',
 'balurghat',
 'haldwani',
 'habra',
 'kumbakonam',
 'thanesar',
 'kanchrapara',
 'mahbubnagar',
 'robertsonpet',
 'hajipur',
 'gonda city',
 'bhuj',
 'hindupur',
 'shillong',
 'palghat',
 'godhra',
 'kishangarh',
 'raniganj',
 'beawar',
 'abohar',
 'dehri',
 'khardah',
 'halisahar',
 'panvel',
 'titagarh',
 'cuddapah',
 'bettiah',
 'rajapalaiyam',
 'darjiling',
 'mohali',
 'palanpur',
 'dam dam',
 'puruliya',
 'bhadreswar',
 'vejalpur',
 'chikmagalur',
 'guntakal junction',
 'gangapur',
 'deoli',
 'chicacole',
 'uppal kalan',
 'jetpur',
 'khanna',
 'rishra',
 'yelahanka',
 'gudivada',
 'baidyabati',
 'dharmavaram',
 'maler kotla',
 'jhunjhunun',
 'chanduasi',
 'mothihari',
 'chas',
 'port blair',
 'suriapet',
 'bangaon',
 'ashoknagar kalyangarh',
 'achalpur',
 'navadwip',
 'barsi']